{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-10 col-md gy-5 mx-3">
            <p class="info-home">
                Have you ever found it difficult to find an NGO of your liking to contribute to? Maybe you're working on
                a presentation to pitch a potential cause or NGO to your collegues and bosses at work? Or maybe you're
                just like us and find it tiring to scan the web for the perfect NGO whenever you're feeling generous?
                <br><br>
                <strong>Then look no further! We are here just for you.</strong>
            </p>
        </div>
        <div class="col-10 col-md gy-5 mx-3">
            <img src="https://res.cloudinary.com/adamboley/image/upload/v1676822357/about-thinking-img_pldek7.jpg"
                class="img-fluid rounded" alt="">
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-10 col-md gy-5 mx-3">
            <img src="https://res.cloudinary.com/adamboley/image/upload/v1676822350/our-service-img_htp9dz.jpg"
                class="img-fluid rounded" alt="">
        </div>
        <div class="col-10 col-md gy-5 mx-3">
            <p class="info-home">
                Our goal here at Friends of Earth is to make it easier for everyone to contribute towards a better
                world.
                Whether you already have a cause that you are passionate about, or want to find a cause to be passionate
                about, we want to provide you with a structured overview of the options you have to make this world of
                ours a better place for all!
            </p>
        </div>
    </div>
</div>
<div class="container-fluid text-center">
    <div class="row my-5">
        <div class="col-12 mt-5">
            <h1 id="team-header" class="vibrant-green">Meet the Team behind Friends of Earth</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row gap-1 text-center justify-content-around p-4">
        <div class="card col-12 text-bg-secondary shadow col-lg-2 my-4 p-1">
            <div class="card-body">
                <h5 class="card-title" style="height: 2.7rem">Adam Boley</h5>
                <img class="img-fluid rounded-circle border border-3"
                    src="https://ca.slack-edge.com/T0L30B202-U02Q54K97UZ-c81fabd822ee-512" alt="Headshot photo">
                <p class="card-text"></p>
                <a class="btn btn-outline-success w-100 mb-1 shadow vibrant-green" target="_blank" href="https://github.com/AdamBoley">Github</a>
                <a class="btn btn-outline-success w-100 mb-1 shadow vibrant-green" target="_blank" href="https://www.linkedin.com/in/adam-boley-196420a8/">LinkedIn</a>
            </div>
        </div>
        <div class="card col-12 text-bg-secondary shadow col-lg-2 my-4 p-1">
            <div class="card-body">
                <h5 class="card-title" style="height: 2.7rem">Alexander Glemme</h5>
                <img class="img-fluid rounded-circle border border-3"
                    src="https://ca.slack-edge.com/T0L30B202-U03N6UL6CG2-fe8dcebd3644-512" alt="Headshot photo">
                    <p class="card-text"></p>
                <a class="btn btn-outline-success w-100 mb-1 shadow vibrant-green" target="_blank" href="https://github.com/alexanderglemme">Github</a>
                <a class="btn btn-outline-success w-100 mb-1 shadow vibrant-green" target="_blank" href="https://www.linkedin.com/in/alexander-glemme/">LinkedIn</a>
            </div>
        </div>
        <div class="card col-12 text-bg-secondary shadow col-lg-2 my-4 p-1">
            <div class="card-body">
                <h5 class="card-title" style="height: 2.7rem">Edmir Demaj</h5>
                <img class="img-fluid rounded-circle border border-3"
                    src="https://ca.slack-edge.com/T0L30B202-U03K5D86HN2-82b72e9f78af-512" alt="Headshot photo">
                <p class="card-text"></p>
                <a class="btn btn-outline-success w-100 mb-1 shadow vibrant-green" target="_blank" href="https://github.com/Edmir-Demaj">Github</a>
                <a class="btn btn-outline-success w-100 mb-1 shadow vibrant-green" target="_blank" href="https://www.linkedin.com/in/edmir-demaj-42a501196/">LinkedIn</a>
            </div>
        </div>
        <div class="card col-12 text-bg-secondary shadow col-lg-2 my-4 p-1">
            <div class="card-body">
                <h5 class="card-title" style="height: 2.7rem">Liam Pewton</h5>
                <img class="img-fluid rounded-circle border border-3"
                    src="https://ca.slack-edge.com/T0L30B202-U044GH54JG1-ebdb748854ba-512" alt="Headshot photo">
                <p class="card-text"></p>
                <a class="btn btn-outline-success w-100 mb-1 shadow vibrant-green" target="_blank" href="https://github.com/lpewton">Github</a>
                <a class="btn btn-outline-success w-100 mb-1 shadow vibrant-green" target="_blank" href="https://www.linkedin.com/in/liam-pewton-54b496172/">LinkedIn</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row d-flex gap-1 text-center justify-content-around p-4">
        <div class="card col-12 col-lg-2 text-bg-secondary shadow my-4 p-1">
            <div class="card-body">
                <h5 class="card-title" style="height: 2.7rem">Linus Berger</h5>
                <img class="img-fluid rounded-circle border border-3"
                    src="https://ca.slack-edge.com/T0L30B202-U04DZ7XCVKL-598a8a081dbb-512" alt="Headshot photo">
                <p class="card-text"></p>
                    <a class="btn btn-outline-success w-100 mb-1 shadow vibrant-green" target="_blank" href="https://github.com/Linber93">Github</a>
                    <a class="btn btn-outline-success w-100 mb-1 shadow vibrant-green" target="_blank" href="https://www.linkedin.com/in/linus-berger-81a484216/">LinkedIn</a>
            </div>
        </div>
        <div class="card col-12 col-lg-2 text-bg-secondary shadow my-4 p-1">
            <div class="card-body">
                <h5 class="card-title" style="height: 2.7rem">Maria Jones</h5>
                <img class="img-fluid rounded-circle border border-3"
                    src="https://ca.slack-edge.com/T0L30B202-U04D6MA9TNC-gb131d090e60-512" alt="Headshot photo">
                <p class="card-text"></p>
                    <a class="btn btn-outline-success w-100 mb-1 shadow vibrant-green" target="_blank" href="https://github.com/mariacjones1">Github</a>
                    <a class="btn btn-outline-success w-100 mb-1 shadow vibrant-green" target="_blank" href="https://www.linkedin.com/in/maria-jones-69727a12b/">LinkedIn</a>
            </div>
        </div>
        <div class="card col-12 col-lg-2 text-bg-secondary shadow my-4 p-1">
            <div class="card-body">
                <h5 class="card-title" style="height: 2.7rem">Maximiliane Kaempffer</h5>
                <img class="img-fluid rounded-circle border border-3"
                    src="https://ca.slack-edge.com/T0L30B202-U04EK8B0LDU-b9ea346fae0a-512" alt="Headshot photo">
                <p class="card-text"></p>
                    <a class="btn btn-outline-success w-100 mb-1 shadow vibrant-green" target="_blank" href="https://github.com/Maximiliane-K">Github</a>
                    <a class="btn btn-outline-success w-100 mb-1 shadow vibrant-green" target="_blank" href="https://www.linkedin.com/in/maximiliane-kaempffer/">LinkedIn</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}